input[type="search"]{
    border:none;
}
.logo-text{
    font-size: 24px;
    font-weight: bold;
}
header .nav-link{
    color: grey;

}
header .nav-link:hover {
    color: red;
    
};
header .nav-link:active {
    color: #ffdb4b; 
    
}
header .nav-link:focus {
    color: red;
    
}
.plus-badge{
    font-size: 10px;
    padding: 10px 10px;
    background: linear-gradient(101.67deg,#48cce0 7.24%,#505add 34.12%,#be40c0 62.93%,#fba82b 92.22%)
}
.albums .card:hover {
    outline: 4px solid #ffdb4b
}